@import url(./reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&display=swap');

$br: 5px;
$brWdth: 2px;

.wOneNine{max-width: 190px}

.leftBorder{border-left: $brWdth solid var(--base-color);}

::-webkit-scrollbar {display: none;}

:root {
    --red: #EF476F; 
    --green: #06D6A0; 
    --yellow: #FFD166;
    --base-color: #04080f;
    --bkcolor: #f9f9f9;
}

* {
    scroll-behavior: smooth;
}

p {
    width: 19%;
    height: 100%;
    background-color: transparent;
    border-bottom: $brWdth solid var(--base-color);
    padding: .5rem;
    border-radius: $br;
    outline: none;
    opacity: .8;
    transition: .2s ease-in-out;
    font-size: 2rem;
    color: var(--base-color);
    opacity: 0.8; 
}

p:hover {
    opacity: 1;
}

body {
    background-color: var(--bkcolor);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.generalContainer {
    font-family: 'Chivo', sans-serif;
    width: 90%;
    height: 90%;

    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 90%;
    gap: 1em;
    
    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
       
        .currFolder {
            grid-column: 1 / 2;
            border: $brWdth solid var(--base-color);
            width: 100%;
            height: 100%;
            border-radius: $br;
            border-top: 0;
            border-left: 0;
            font-size: 5em;
            color: var(--base-color);

            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    .themeBtn {
        color: var(--base-color);
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        width: 100%;
        font-size: 4em;
        margin-right: 1em;
        background-color: transparent;
        border: $brWdth solid var(--base-color);
        border-radius: $br;
        opacity: 0.8;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: none;
        border-right: none;
        transition: .5s all;
    }

    .themeBtn:hover {
        opacity: 1;
    }

    .themeBtn:active {color: var(--bkcolor); border: var(--bkcolor);}
    
    .sidebar {
        display: flex;
        flex-direction: column;

        border: $brWdth solid var(--base-color);
        grid-column: 1 / 1;
        border-radius: $br;
        padding-top: 10px;
        border-bottom: 0;
        border-left: 0;

        .controlFolder {
            border-radius: $br;
            margin-bottom: 2em;
            width: 90%;

            display: flex;
            justify-self: center;
            align-self: center;
            justify-content: space-between;
            
            .titleFolder {
                width: 80%;
                height: 100%;
                background-color: transparent;
                border: $brWdth solid var(--base-color);
                padding: .5rem;
                border-radius: $br;
                outline: none;
                opacity: 0.8;
                transition: .2s ease-in-out;
                font-size: 2rem;
                color: var(--base-color);
                border-top: none;
                border-left: none;
            }

            .titleFolder:focus {opacity: 1;}

            .titleFolder:hover {opacity: 1;}
        }
    }

    .notes {
        border: $brWdth solid var(--base-color);
        border-radius: $br;
        border-bottom: 0;
        border-right: 0;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        overflow: scroll;
        grid-column: 2 / 4;

        .controlNotes {
            border-radius: $br;
            margin-bottom: 1em;
            width: 98%;
            
            display: flex;
            justify-self: center;
            align-self: center;
            justify-content: space-between;

            .inputNote {
                width: calc(18% + 1% / 2);
                height: 100%;
                background-color: transparent;
                border: $brWdth solid var(--base-color);
                padding: .5rem;
                border-radius: $br;
                outline: none;
                opacity: .8;
                transition: .2s ease-in-out;
                font-size: 2rem;
                color: var(--base-color);
                
                border-top: none;
                border-left: none;
            }

            .inputNote:focus {opacity: 1;}

            .inputNote:hover {opacity: 1;}
        }

        .note {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 20px;

            .noteContent {
                border-radius: $br;
                margin-bottom: 1em;
                width: 90%;
    
                display: flex;
                justify-self: center;
                align-self: center;
                justify-content: space-between
            }
            
            .doubleWNE {width: 36%;}

            .lowPrior {background-color: var(--green); color: #f9f9f9; border: none; }

            .midPrior{background-color: var(--yellow); color: #f9f9f9; border: none; }

            .highPrior{background-color: var(--red); color: #f9f9f9; border: none; }

            .tooltip {
                position: relative;
                display: inline-block;
            }
              
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 20em;
                color: var(--base-color);
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                background-color: var(--bkcolor);
                opacity: 0;
                transition: opacity 1s;
            }
              
            .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
                top: 100%;
                left: 50%;
                margin-left: -60px;
                margin-bottom: 20em;
                background-color: var(--bkcolor);
                border-radius: $br;
            }
        }
    }
}

.folderContainer {
    padding-top: 10px;
    border-bottom: 0;
    border-left: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .folderName {
        background-color: transparent;
        border: $brWdth solid var(--base-color);
        padding: .5rem;
        border-radius: $br;
        outline: none;
        opacity: 0.8;
        transition: .2s ease-in-out;
        font-size: 2rem;
        color: var(--base-color);
        width: 80%;
        height: 2em;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .newFolder {
        border-radius: $br;
        width: 90%;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        align-self: center;
        margin-bottom: 1.5em; 
    }

    .folderName:hover {opacity: 1;}

    .folderName:active {color: var(--bkcolor); border: var(--bkcolor);}
}

.addBtn {
    border: none;
    color: var(--green);
    border-radius: $br;
    font-size: 2.3em;
    width: 20%;
    height: 2em;
    transition: all 0.4s;
    background: var(--bkcolor);
    margin-left: 0.9rem;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    
}

.addBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--green);
    z-index: -1;
    transition: all 0.5s;
    border-radius: $br;
}

.addBtn:hover::before {width: 100%; border-radius: $br;}

.addBtn:hover {color: #f9f9f9; border-radius: $br;}

.addBtn:active:before {background: #f9f9f9; border-radius: $br;}

.delBtn {
    border: none;
    color: var(--red);
    border-radius: $br;
    font-size: 2.3em;
    width: 20%;
    transition: all 0.4s;
    background: var(--bkcolor);
    margin-left: 0.9rem;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
}

.delBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--red);
    z-index: -1;
    transition: all 0.5s;
    border-radius: $br;
}

.delBtn:hover::before {width: 100%; border-radius: $br;} 

.delBtn:hover {color: #f9f9f9; border-radius: $br;}

.delBtn:active:before {background: #f9f9f9; border-radius: $br;}
  
input[type="radio"] {
    left: -999em;
    position: absolute;
}

.radio-input {display: none;} 

.radio-input {
    --container_width: 190px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: $br;
    background-color: var(--bkcolor);
    color: var(--base-color);
    width: var(--container_width);
    overflow: hidden;
    border: $brWdth solid var(--base-color);
    border-top: none;
    border-left: none;
    transition: all 0.5s;
    opacity: 0.8;
}

.radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 1.1em;
}
.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 3);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
} 

.radio-input label:has(input:checked) {
    color: #f9f9f9;
}  

.radio-input label:has(input:checked) ~ .selection {
    display: inline-block;
} 

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/3));
    background-color: var(--green);
    opacity: 1;
} 

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/3));
    background-color: var(--yellow);
    opacity: 1;
} 

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2/3));
    background-color: var(--red);
    opacity: 1;
}

.radio-input:hover {
    opacity: 1;
}

