@import url(./reset.scss);
@import url(./btns.scss);
@import url(./radio-input.scss);
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&display=swap');

.wOneNine{max-width: 190px;}

.leftBorder{border-left: var(--bdr) solid var(--base-color);}

.doubleWNE {width: 36%;}

.lowPrior {background-color: var(--green); color: #f9f9f9; border: none; }

.midPrior{background-color: var(--yellow); color: #f9f9f9; border: none; }

.highPrior{background-color: var(--red); color: #f9f9f9; border: none; }

::-webkit-scrollbar {display: none;}

::-webkit-calendar-picker-indicator {display:none}

:root {
    --red: #EF476F; 
    --green: #06D6A0; 
    --yellow: #FFD166;
    --base-color: #04080f;
    --bkcolor: #f9f9f9;
    --bdr: 2px;
    --br: 5px;
}

body {
    background-color: var(--bkcolor);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

p {
    width: 19%;
    height: 100%;
    background-color: transparent;
    border-bottom: var(--bdr) solid var(--base-color);
    padding: .5rem;
    border-radius: var(--br);
    outline: none;
    opacity: .8;
    transition: .2s ease-in-out;
    font-size: 2rem;
    color: var(--base-color);
    opacity: 0.8; 
}

p:hover {
    opacity: 1;
}

.generalContainer {
    font-family: 'Chivo', sans-serif;
    width: 90%;
    height: 90%;

    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 90%;
    gap: 1em;
    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
       
        .currFolder {
            grid-column: 1 / 2;
            border: var(--bdr) solid var(--base-color);
            width: 100%;
            height: 100%;
            border-radius: var(--br);
            border-top: 0;
            border-left: 0;
            font-size: 5em;
            color: var(--base-color);

            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    .themeBtn {
        color: var(--base-color);
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        width: 100%;
        font-size: 3.5em;
        margin-right: 1em;
        background-color: transparent;
        border: var(--bdr) solid var(--base-color);
        border-radius: var(--br);
        opacity: 0.8;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: none;
        border-right: none;
        transition: .5s all;
    }

    .themeBtn:hover {
        opacity: 1;
        font-size: 3.6em;
    }

    .themeBtn:active {
        color: var(--bkcolor); 
        border: var(--bkcolor);
    }
    
    .sidebar {
        display: flex;
        flex-direction: column;

        border: var(--bdr) solid var(--base-color);
        grid-column: 1 / 1;
        border-radius: var(--br);
        padding-top: 10px;
        border-bottom: 0;
        border-left: 0;

        .controlFolder {
            border-radius: var(--br);
            margin-bottom: 2em;
            width: 90%;

            display: flex;
            justify-self: center;
            align-self: center;
            justify-content: space-between;
            
            .titleFolder {
                width: 80%;
                height: 100%;
                background-color: transparent;
                border: var(--bdr) solid var(--base-color);
                padding: .5rem;
                border-radius: var(--br);
                outline: none;
                opacity: 0.8;
                transition: .2s ease-in-out;
                font-size: 2rem;
                color: var(--base-color);
                border-top: none;
                border-left: none;
            }

            .titleFolder:focus {
                opacity: 1;
            }

            .titleFolder:hover {
                opacity: 1;
            }
        }
    }

    .notes {
        border: var(--bdr) solid var(--base-color);
        border-radius: var(--br);
        border-bottom: 0;
        border-right: 0;
        padding-top: 20px;
        overflow: scroll;
        scroll-behavior: smooth !important;
        padding-left: 1em;

        display: flex;
        flex-direction: column;

        grid-column: 2 / 4;
        .controlNotes {
            border-radius: var(--br);
            margin-bottom: 1em;
            width: 100%;
            
            display: flex;
            justify-self: center;
            align-self: center;
            justify-content: space-between;
            .inputNote {
                width: calc(18% + 1% / 2);
                height: 100%;
                background-color: transparent;
                border: var(--bdr) solid var(--base-color);
                border-radius: var(--br);
                outline: none;
                opacity: .8;
                transition: .2s ease-in-out;
                font-size: 2rem;
                color: var(--base-color);
                border-top: none;
                border-left: none;
            }

            .inputNote:focus {
                opacity: 1;
            }

            .inputNote:hover {
                opacity: 1;
            }
        }

        .note {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            padding-top: 20px;
            .noteContent {
                border-radius: var(--br);
                margin-bottom: 1em;
                width: 90%;
    
                display: flex;
                justify-self: center;
                align-self: center;
                justify-content: space-between
            }
            
            .tooltip {
                position: relative;
                display: inline-block;
            }
              
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 20em;
                color: var(--base-color);
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                background-color: var(--bkcolor);
                opacity: 0;
                transition: opacity 1s;
            }
              
            .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
                top: 100%;
                left: 50%;
                margin-left: -60px;
                margin-bottom: 20em;
                background-color: var(--bkcolor);
                border-radius: var(--br);
            }
        }
    }
}

.folderContainer {
    padding-top: 10px;
    border-bottom: 0;
    border-left: 0;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    .folderName {
        background-color: transparent;
        border: var(--bdr) solid var(--base-color);
        padding: .5rem;
        border-radius: var(--br);
        outline: none;
        opacity: 0.8;
        transition: .2s ease-in-out;
        font-size: 2rem;
        color: var(--base-color);
        width: 80%;
        height: 2em;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .newFolder {
        border-radius: var(--br);
        width: 90%;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        align-self: center;
        margin-bottom: 1.5em; 
    }

    .folderName:hover {
        opacity: 1;
    }

    .folderName:active {
        color: var(--bkcolor); 
        border: var(--bkcolor);
    }
}


