@import url(./reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&display=swap');

$base-color: #04080f;
$red: #EF476F;
$green: #06D6A0;
$yellow: #FFD166;
$bkcolor: #f9f9f9;
$br: 5px;
$brWdth: 2px;

::-webkit-scrollbar {display: none;}

body {
    background-color: $bkcolor;

    display: flex;
    align-items: center;
    justify-content: center;
}

.generalContainer {
    font-family: 'Chivo', sans-serif;
    width: 90%;
    height: 90%;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 90%;
    gap: 1em;
    

    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
       
        .currFolder {
            border: $brWdth solid $base-color;
            width: 100%;
            height: 100%;
            border-radius: $br;
            border-top: 0;
            border-left: 0;
            font-size: 5em;
            color: $base-color;

            display: flex;
            align-items: flex-end;
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;

        border: $brWdth solid $base-color;
        grid-column: 1 / 1;
        border-radius: $br;
        padding-top: 10px;
        border-bottom: 0;
        border-left: 0;

        .controlFolder {
            border-radius: $br;
            margin-bottom: 1em;
            width: 90%;

            display: flex;
            justify-self: center;
            align-self: center;
            justify-content: space-between;
            
            .titleFolder {
                width: 80%;
                height: 100%;
                background-color: transparent;
                border: $brWdth solid $base-color;
                padding: .5rem;
                border-radius: $br;
                outline: none;
                opacity: .8;
                transition: .2s ease-in-out;
                font-size: 2rem;
                color: $base-color;
                opacity: 0.8; 
                border-top: none;
                border-left: none;
            }
            .titleFolder:focus {opacity: 1;}
            .titleFolder:hover {opacity: 1;}
        }
    }

    .notes {
        border: $brWdth solid $base-color;
        border-radius: $br;
        border-bottom: 0;
        border-right: 0;
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        .controlNotes {
            border-radius: $br;
            margin-bottom: 1em;
            width: 98%;

            display: flex;
            justify-self: center;
            align-self: center;
            justify-content: space-between;

            .inputNote {
                width: 18%;
                height: 100%;
                background-color: transparent;
                border: $brWdth solid $base-color;
                padding: .5rem;
                border-radius: $br;
                outline: none;
                opacity: .8;
                transition: .2s ease-in-out;
                font-size: 2rem;
                color: $base-color;
                opacity: 0.8; 
                border-top: none;
                border-left: none;
            }
            .inputNote:focus {opacity: 1;}
            .inputNote:hover {opacity: 1;}
        }
    }
}

.folderContainer {
    padding-top: 10px;
    border-bottom: 0;
    border-left: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .folderName {
        background-color: transparent;
        border: $brWdth solid $base-color;
        padding: .5rem;
        border-radius: $br;
        outline: none;
        opacity: .8;
        transition: .2s ease-in-out;
        font-size: 2rem;
        color: $base-color;
        width: 80%;
        height: 2em;
        border-top: none;
        border-left: none;
        border-right: none;
        opacity: 0.7;
    }
    .newFolder {
        border-radius: $br;
        width: 90%;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        align-self: center;
        margin-bottom: 1.5em; 
    }
    .folderName:hover {opacity: 1;}
    .folderName:active {color: $bkcolor; border: $bkcolor;}
}

.addBtn {
    border: none;
    color: $green;
    border-radius: $br;
    font-size: 2.3em;
    width: 20%;
    height: 2em;
    transition: all 0.4s;
    background: $bkcolor;
    margin-left: 0.9rem;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    
}
.addBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $green;
    z-index: -1;
    transition: all 0.5s;
    border-radius: $br;
}
.addBtn:hover::before {width: 100%; border-radius: $br;}
.addBtn:hover {color: $bkcolor; border-radius: $br;}
.addBtn:active:before {background: $bkcolor; border-radius: $br;}

.delBtn {
    border: none;
    color: $red;
    border-radius: $br;
    font-size: 2.3em;
    width: 20%;
    transition: all 0.4s;
    background: $bkcolor;
    margin-left: 0.9rem;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
}
.delBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $red;
    z-index: -1;
    transition: all 0.5s;
    border-radius: $br;
}
.delBtn:hover::before {width: 100%; border-radius: $br;}   
.delBtn:hover {color: $bkcolor; border-radius: $br;}
.delBtn:active:before {background: $bkcolor; border-radius: $br;}
  
input[type="radio"] {
    left: -999em;
    position: absolute;
}

.radio-input {
    display: none;
}
  
.radio-input {
    --container_width: 190px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: $br;
    background-color: $bkcolor;
    color: $base-color;
    width: var(--container_width);
    overflow: hidden;
    border: $brWdth solid $base-color;
    border-top: none;
    border-left: none;
    opacity: 0.8;
}
  
.radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 1.1em;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 3);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
}
  
.radio-input label:has(input:checked) {
    color: $bkcolor;
}
  
.radio-input label:has(input:checked) ~ .selection {
    display: inline-block;
}
  
.radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/3));
    background-color: $green;
    opacity: 1;
}
  
.radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/3));
    background-color: $yellow;
    opacity: 1;
}
  
.radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2/3));
    background-color: $red;
    opacity: 1;
}

