@import url(./reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&display=swap');

$base-color: #04080f;
$red: #EF476F;
$green: #06D6A0;
$yellow: #FFD166;
$bkcolor: #f9f9f9;
$br: 5px;
$brWdth: 2px;

body {
    background-color: $bkcolor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generalContainer {
    font-family: 'Chivo', sans-serif;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
    gap: 1em;
    

    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 90% 10%;
       
        .folderName {
            border: $brWdth solid $base-color;
            width: 100%;
            height: 100%;
            border-radius: $br;
            border-top: 0;
            border-left: 0;
            color: $base-color;
            display: flex;
            align-items: flex-end;
            font-size: 5em;
        }
    }

    .sidebar {
        border: $brWdth solid $base-color;
        grid-column: 1 / 1;
        border-radius: $br;
        display: grid;
        grid-template-rows: 8% 92%;
        padding-top: 1rem;
        border-bottom: 0;
        border-left: 0;

        .controlFolder {
            border-radius: $br;
            width: 90%;
            height: 100%;
            display: flex;
            justify-self: center;
            justify-content: space-between;
            align-self: center;

            .titleFolder {
                width: 72%;
                background-color: transparent;
                border: $brWdth solid $base-color;
                padding: .5rem;
                border-radius: $br;
                outline: none;
                opacity: .8;
                transition: .2s ease-in-out;
                font-size: 2rem;
                color: $base-color;
                opacity: 0.7; 
            }

            .titleFolder:focus {
                opacity: 1;
            }

        }
    }

    .notes {
        border: $brWdth solid $base-color;
        border-radius: $br;
        border-bottom: 0;
        border-right: 0;
    }
}


.addFolderBtn {
    border: none;
    color: $green;
    border-radius: $br;
    font-size: 2.3em;
    width: 25%;
    transition: all 0.4s;
    background: $bkcolor;
    margin-left: 0.9rem;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
}
.addFolderBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $green;
    z-index: -1;
    transition: all 0.5s;
}
.addFolderBtn:hover::before {width: 100%;}
.addFolderBtn:hover {color: $bkcolor;}
.addFolderBtn:active:before {background: $bkcolor;}

.delFolderBtn {
    background-color: $bkcolor;
    color: $red;
    font-size: 2.5em;
    border-radius: $br;
    margin-left: 0.9rem;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
}
.delFolderBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $red;
    z-index: -1;
    transition: all 0.5s;
}
.delFolderBtn:hover::before {width: 100%;}   
.delFolderBtn:hover {color: $bkcolor;}
.delFolderBtn:active:before {background: $bkcolor;}
  
  
  