
input[type="radio"] {
    left: -999em;
    position: absolute;
}

.radio-input {display: none;} 

.radio-input {
    --container_width: 190px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: var(--br);
    background-color: var(--bkcolor);
    color: var(--base-color);
    width: var(--container_width);
    overflow: hidden;
    border: var(--bdr) solid var(--base-color);
    border-top: none;
    border-left: none;
    transition: all 0.5s;
    opacity: 0.8;
}

.radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 1.1em;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 3);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
} 

.radio-input label:has(input:checked) {
    color: #f9f9f9;
}  

.radio-input label:has(input:checked) ~ .selection {
    display: inline-block;
} 

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/3));
    background-color: var(--green);
    opacity: 1;
} 

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/3));
    background-color: var(--yellow);
    opacity: 1;
} 

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2/3));
    background-color: var(--red);
    opacity: 1;
}

.radio-input:hover {
    opacity: 1;
}